@import "./global.css";

header {
  background-color: var(--pastel-color--blue);
}

.master-view {
  background-color: var(--pastel-color--red);
}

.detail-view {
  background-color: var(--pastel-color--yellow);
}
