@import "./global.css";
@import "./master-view.css";
@import "./detail-view.css";

header {
  background-color: var(--pastel-color--blue);
  height: 4rem;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 10;
}

main {
  display: flex;
  height: 120%;
  margin-top: 4rem;
}

.master-view {
  background-color: var(--pastel-color--red);
  flex: 1;
}

.detail-view {
  background-color: var(--pastel-color--yellow);
  /* flex: 1; */
  position: absolute;
  display: none;
  right: -100%;
  width: 50%;
  height: 100%;
}

.detail-view.open {
  position: relative;
  display: block;
  right: 0;
}
