@import "./global.css";

header {
  background-color: var(--pastel-color--blue);
  height: 4rem;
  width: 100%;
}

main {
  display: flex;
  height: 100%;
}

.master-view {
  background-color: var(--pastel-color--red);
  flex: 1;
  border: 1px solid red;
}

.detail-view {
  background-color: var(--pastel-color--yellow);
  flex: 1;
}

.detail-grid {
  width: 100%;
  display: grid;
  grid-template:
    "one one" 1fr
    "two three" 1fr
    "two four" 1fr
    / 1fr 1fr;
  grid-gap: 20px;
}

.area-one {
  grid-area: one;
}

.area-two {
  grid-area: two;
}

.area-three {
  grid-area: three;
}

.area-four {
  grid-area: four;
}

.detail-area {
  min-height: 20rem;
  background-color: white;
  border: 1px solid black;
}
